[submodule "common"]
	path = common
	url = https://github.com/cetz-package/common.git
[submodule "typst-package-template"]
	path = typst-package-template
	url = https://github.com/typst-community/typst-package-template.git
