{
  "$schema": "https://json.schemastore.org/prettierrc",
  "tabWidth": 2,
  "useTabs": false,
  "plugins": ["@prettier/plugin-xml", "prettier-plugin-toml"],
  "overrides": [
    {
      "files": ["**/*.tmTheme"],
      "options": {
        "parser": "xml"
      }
    }
  ],
  "bracketSameLine": true,
  "xmlSelfClosingSpace": false
}
